# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml
*.pdf

# Log files
*.log

# Visual Studio Code
.vscode/

# Keras Tuning & Checkpoint & Model Saves
models/keras_tuning/
*.h5
*.pkl

# Images
*.png

# Jupyter Notebook
*.ipynb

# Docs
docs/